h2,
h3,
h4 {
  font-family: Google Sans, arial, sans-serif;
  color: darkblue;
  text-align: left;
  font-size: 22px;
  margin: 0px;
}
p {
  color: rgb(59, 59, 240);
  font-size: 16px;
  font-family: Google Sans, arial, sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
a {
  color: rgb(59, 59, 240);
  font-size: 14px;
  font-family: Google Sans, arial, sans-serif;
  font-weight: 500;
  text-align: center;
}
ul {
  color: rgb(59, 59, 240);
  font-size: 16px;
  font-family: Google Sans, arial, sans-serif;
  font-weight: 500;
  list-style-type: none;
  text-align: left;
}
input {
  border-radius: 8px;
  width: 100%;
}
.main-image {
  position: relative;
  top: 10px;
}

.temps {
  text-align: center;
}
.weather-app {
  border: 1px solid darkblue;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: fit-content;
  height: fit-content;
}
#search-temp {
  color: darkblue;
  font-size: 52px;
}
