h2,
h3,
h4 {
  font-family: Google Sans, arial, sans-serif;
  color: darkblue;
  text-align: left;
  font-size: 22px;
  margin: 0px;
}
p {
  color: rgb(117, 117, 133);
  font-size: 16px;
  font-family: Google Sans, arial, sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

ul {
  color: rgb(59, 59, 240);
  font-size: 16px;
  font-family: Google Sans, arial, sans-serif;
  font-weight: 500;
  list-style-type: none;
  text-align: left;
}
input {
  border-radius: 8px;
  width: 100%;
}
.main-image {
  position: relative;
  bottom: 9px;
}

.temps {
  text-align: center;
}
.weather-app {
  border: 1px solid darkblue;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: fit-content;
  height: fit-content;
}

.active {
  color: darkblue;
  text-decoration: none;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
  font-family: Google Sans, arial, sans-serif;
  color: darkblue;
  font-size: 16px;
}

.container {
  max-width: 600px;
}

.weather-forecast-day {
  font-weight: 500;
}

.weather-forecast-temp {
  font-weight: 500;
  font-size: 13px;
}

.weather-forecast-temp-max {
  font-weight: 600;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}

#search-temp {
  color: darkblue;
  font-size: 52px;
}
#units {
  font-family: Google Sans, arial, sans-serif;
  color: darkblue;
  text-align: left;
  font-size: 18px;
  margin: 0px;
  position: relative;
  bottom: -20px;
  right: 20px;
}

#sign {
  color: rgb(59, 59, 240);
  font-size: 14px;
  font-family: Google Sans, arial, sans-serif;
  font-weight: 500;
  text-align: center;
}
